@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
.home{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/home1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(12,11,9,0.6);
    color: #fff;
    padding: 10px 150px;
}
nav .logo h1{
    text-transform: uppercase;
    color: #e1d636;
    font-size: 25px;
}
nav .logo h1 span {
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    /* text-transform: lowercase; */
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    padding: 15px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.4s ease;
}
nav ul li a:hover{
    color: #e1d636;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-top: -50px;
}
.banner h2{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 1px solid #e1d636;
    padding: 20px;
    font-size: 30px;
}
.banner h2 span {
    color: #e1d636;
}
.banner h3{
    color: #fff;
    padding: 20px;
    font-weight: 500;
    font-size: 35px;
    font-family: 'Dancing Script',cursive;
}
.special {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.special h1 {
    background-color: #e1d636;
    color: #292929;
    padding: 10px;
    font-size: 12px;
    word-spacing: 5px;
    text-transform: uppercase;
    position: absolute;
    left: 700px;
    top: 400px;
}
.special .special-box{
    height: 220px;
    width: 160px;
    background: rgba(0,0,0,0.6);
    margin-top: -150px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border: 2px solid #e1d636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.special-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #e1d636;
}
.special-box h2 {
    color: #e1d636;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    text-transform: capitalize;
}
.special-box h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    padding: 5px;
}